---
import { getCollection } from "astro:content";
import FooterChiri from "@/components/FooterChiri.astro";
import HeaderChiri from "@/components/HeaderChiri.astro";
import TagChiri from "@/components/TagChiri.astro";
import { SITE } from "@/config";
import LayoutChiri from "@/layouts/LayoutChiri.astro";
import getUniqueTags from "@/utils/getUniqueTags";

const posts = await getCollection("blog");

const tags = getUniqueTags(posts);
---

<LayoutChiri title={`Tags | ${SITE.title}`}>
  <HeaderChiri />
  <main class="main-content">
    <h1>Tags</h1>
    <p class="tags-desc">All the tags used in posts.</p>
    <ul class="tags-list">
      {tags.map(({ tag, tagName }) => <TagChiri {tag} {tagName} size="lg" />)}
    </ul>
  </main>
  <FooterChiri />
</LayoutChiri>
