---
import FooterChiri from "@/components/FooterChiri.astro";
import HeaderChiri from "@/components/HeaderChiri.astro";
import { SITE } from "@/config";
import LayoutChiri from "@/layouts/LayoutChiri.astro";
---

<LayoutChiri title={`404 Not Found | ${SITE.title}`}>
  <HeaderChiri />

  <main
    class="main-content mx-auto flex flex-1 items-center justify-center"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 class="text-9xl font-bold text-accent">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p class="mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <a
        href="/"
        class="my-6 text-lg underline decoration-dashed underline-offset-8 hover:text-accent transition-colors"
      >
        Go back home
      </a>
    </div>
  </main>

  <FooterChiri />
</LayoutChiri>
